<form method="post" action="/artists">
	<label>Artist Name</label>
	<input name="artists[name]" type="text" />
    <label>Songs</label>
    <input name="artists[songs][]" type="text" />
    <input name="artists[songs][]" type="text" />
    <input name="artists[songs][]" type="text" />
    <input type="submit" />
</form>

 